<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <footer class="text-center" style="background-color: #39033a; color: white;">


    <div class="container pt-4">

      <section class="mb-4">

        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-white m-1"
          href="mailto:guilhermecassula5@gmail.com" role="button" data-mdb-ripple-color="dark">
          <i class="fab fa-google"></i>
        </a>

        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.instagram.com/guih_0412/" role="button" target="_blank" rel="noopener"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.linkedin.com/in/guilherme-henrique-36b3a0220/" target="_blank" rel="noopener" role="button"
          data-mdb-ripple-init data-mdb-ripple-color="dark">
          <i class="fab fa-linkedin"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://github.com/Guih0412" target="_blank"
          rel="noopener" role="button" data-mdb-ripple-init data-mdb-ripple-color="dark">
          <i class="fab fa-github"></i>
        </a>

      </section>
    </div>
    

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #39033a;">
      © 2025 Copyright: Guilherme Henrique Cassula
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>