<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar" style="background-color: #39033a;">
        <form class="form-inline mx-1">
            <a class="btn btn-sm btn-outline mx-3" href="/" style="border: 1px solid #ffffff; color: #ffffff; background-color: transparent;" type="button">Home</a>
            <a class="btn btn-sm btn-outline mx-3" href="/projetos" style="border: 1px solid #ffffff; color: #ffffff; background-color: transparent;"type="button">Projetos</a>
            <a class="btn btn-sm btn-outline mx-3" href="/gerenciamentoProjetos" style="border: 1px solid #ffffff; color: #ffffff; background-color: transparent;"type="button">Gerenciamento de Projetos</a>
        </form>
    </nav>
</body>

</html>