<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/jpeg" href="/images-pdfs/favicon-projetos.png">
</head>

<body>

    <%- include('partials/navbar') %>

        <main>
            <div class="container mt-5">
                <h1 class="text-center"
                    style="color: #39033a; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
                    Acesse os meus projetos
                </h1>
                <h4 class="text-center mb-5">
                    Nessa seção, você poderá acessar os meus projetos desenvolvidos
                </h4>
            </div>




            <!--Lista de projetos-->


            <section class="container mb-5">
                <div class="row">

                    <!--Horus-->
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="p-4 rounded shadow" style="background-color: #f3e8ff; transition: all 0.3s ease;"
                            onmouseover="this.style.transform='translateY(-8px)'; this.style.boxShadow='0 12px 25px rgba(0,0,0,0.2)'"
                            onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow=''">

                            <div
                                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
                                <h3>Projeto: Horus</h3>
                            </div>

                            <hr class="my-1" style="border-top: 2px solid rgb(0, 0, 0)">

                            <p class="mt-1"><strong>Descrição:</strong>
                                Desenvolvimento de um site informativo simples e funcional sobre a Metodologia Ágil que
                                contenha conceitos e fundamentos, assim como exemplos práticos e avaliações para o
                                usuário.
                            </p>

                            <p><strong>Tecnologias Utilizadas:</strong>
                                HTML, CSS, JavaScript, Flask, SQLAlchemy, Python
                            </p>

                            <div style="text-align: center;">
                                <img src="/images-pdfs/Horus.png" alt="Imagem de Horus" class="img-fluid rounded"
                                    style="max-height: 200px; display: block; margin: 0 auto;">
                                </img>
                            </div>

                            <div style="text-align: center;">
                                <a href="https://github.com/m-germano/projetoAPI-horus"
                                    class="btn btn-sm mt-3" target="_blank"
                                    style="background-color: #39033a; color: white; align-items: center;">
                                    Acessar Repositório
                                </a>
                            </div>
                        </div>
                    </div>




                    <!--IDScan-->
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="p-4 rounded shadow" style="background-color: #f3e8ff; transition: all 0.3s ease;"
                            onmouseover="this.style.transform='translateY(-8px)'; this.style.boxShadow='0 12px 25px rgba(0,0,0,0.2)'"
                            onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow=''">

                            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
                                <h3>Projeto: IDScan</h3>
                            </div>

                            <hr class="my-1" style="border-top: 2px solid rgb(0, 0, 0)">

                            <p class="mt-8"><strong>Descrição:</strong>
                                Desenvolvimento de um aplicativo para digitalização e extração local de dados de
                                documentos de identidade, sem uso de APIs externas, com armazenamento em banco MySQL.
                            </p>

                            <p><strong>Tecnologias Utilizadas:</strong>
                                Java, MySQL, Ollama, Tesseract, OCR
                            </p>

                            <div style="text-align: center;">
                                <img src="/images-pdfs/IDScan.png" alt="Imagem de Horus" class="img-fluid rounded"
                                    style="max-height: 200px; display: block; margin: 0 auto;">
                                </img>
                            </div>

                            <div style="text-align: center;">
                                <a href="https://github.com/Titus-System/2semestre-ADS"
                                    class="btn btn-sm mt-3" target="_blank"
                                    style="background-color: #39033a; color: white; align-items: center;">
                                    Acessar Repositório
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--Insight Flow-->
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="p-4 rounded shadow" style="background-color: #f3e8ff; transition: all 0.3s ease;"
                            onmouseover="this.style.transform='translateY(-8px)'; this.style.boxShadow='0 12px 25px rgba(0,0,0,0.2)'"
                            onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow=''">

                            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
                                <h3>Projeto: Insight Flow</h3>
                            </div>

                            <hr class="my-1" style="border-top: 2px solid rgb(0, 0, 0)">

                            <p class="mt-8"><strong>Descrição:</strong>
                                Desenvolvimento de uma plataforma com dados de comércio exterior no Brasil, com busca
                                avançada, análises interativas e previsões de tendências para apoio logístico e
                                estratégico.
                            </p>

                            <p><strong>Tecnologias Utilizadas:</strong>
                                React, Python, TypeScript, JavaScript, Postgres, HTML
                            </p>

                            <div style="text-align: center;">
                                <img src="/images-pdfs/InsightFlow.png" alt="Imagem de Horus" class="img-fluid rounded"
                                    style="max-height: 200px; display: block; margin: 0 auto;">
                                </img>
                            </div>

                            <div style="text-align: center;">
                                <a href="https://github.com/Titus-System/InsightFlow"
                                    class="btn btn-sm mt-3" target="_blank"
                                    style="background-color: #39033a; color: white; align-items: center;">
                                    Acessar Repositório
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>





</body>

</html>