<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/jpeg" href="/images-pdfs/favicon-projetos.png">
</head>

<body>

    <%- include('partials/navbar') %>

        <main>
            <div class="container mt-5">
                <h1 class="text-center"
                    style="color: #39033a; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
                    Acesse os meus projetos
                </h1>
                <h4 class="text-center mb-5">
                    Nessa seção, você poderá acessar os meus projetos desenvolvidos
                </h4>
            </div>




            <!--Lista de projetos-->

            <!--Horus-->
            <section class="container mb-5">
                <div class="p-4 rounded shadow mb-4" style="background-color: #f3e8ff;">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                <h3>Projeto: Horus
                                </h3>
                            </div>
                            <p class="mt-8"><strong>Descrição:</strong>
                                Desenvolvimento de um site informativo simples e funcional sobre a Metodologia Ágil que contenha conceitos e fundamentos, assim como exemplos práticos e avaliações para o usuário.
                            </p>
                            <p><strong>Tecnologias Utilizadas:</strong>
                                HTML, CSS, JavaScript, Flask, SQLAlchemy, Python
                            </p>
                            <p><strong>Repositório:</strong>
                                <a href="https://github.com/m-germano/projetoAPI-horus" target="_blank"
                                    rel="noopener noreferrer" style="color: #39033a;">
                                    Horus
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images-pdfs/IDScan.png" alt="Imagem de Horus" class="img-fluid rounded
                    " style="max-height: 300px;">
                        </div>
                    </div>
                </div>
                <hr class="my-5" style="border-top: 5px solid black">
            </section>

            <!--IDScan-->
            <section class="container mb-5">
                <div class="p-4 rounded shadow mb-4" style="background-color: #f3e8ff;">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                <h3>Projeto: IDScan
                                </h3>
                            </div>
                            <p class="mt-8"><strong>Descrição:</strong>
                                Este projeto visa a criaçao da IdScan, que trata-se de um aplicativo de processamento de
                                imagens de documentos de identidade (RG) sem o uso de APIs externas e armazenamento
                                desses dados em um banco de dados MySQL local. Ele foi projetado para facilitar a
                                digitalização, extração e organização de informações contidas em documentos físicos,
                                tornando o gerenciamento de dados mais eficiente.
                            </p>
                            <p><strong>Tecnologias Utilizadas:</strong>
                                Java, MySQL, Ollama, Tesseract, OCR
                            </p>
                            <p><strong>Repositório:</strong>
                                <a href="https://github.com/Titus-System/2semestre-ADS>" target="_blank"
                                    rel="noopener noreferrer" style="color: #39033a;">
                                    IDScan
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images-pdfs/IDScan.png" alt="Imagem de IDScan" class="img-fluid rounded
                    " style="max-height: 300px;">
                        </div>
                    </div>
                </div>
                <hr class="my-5" style="border-top: 5px solid black">
            </section>


            <!--Insight Flow-->
            <section class="container mb-5">
                <div class="p-4 rounded shadow mb-4" style="background-color: #f3e8ff;">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                <h3>Projeto: Insight Flow
                                </h3>
                            </div>
                            <p class="mt-8"><strong>Descrição:</strong>
                                Este projeto visa concentrar dados de comércio exterior no Brasil, fornecendo
                                informações essenciais para profissionais de logística e tomadores de decisão. A
                                plataforma oferecerá análises interativas, busca avançada e previsão de tendências
                                para facilitar a compreensão do mercado
                            </p>
                            <p><strong>Tecnologias Utilizadas:</strong>
                                React, Python, TypeScript, JavaScript, Postgres, HTML
                            </p>
                            <p><strong>Repositório:</strong>
                                <a href="<https://github.com/Titus-System/InsightFlow>" target="_blank"
                                    rel="noopener noreferrer" style="color: #39033a;">
                                    Insight Flow
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 text-center">
                            <img src="/images-pdfs/InsightFlow.png" alt="Imagem de Insight Flow" class="img-fluid rounded
                    " style="max-height: 300px;">
                        </div>
                    </div>
                </div>
                <hr class="my-5" style="border-top: 5px solid black">
            </section>



            <!--Projetos cadastrados-->
            <section class="container mb-5">
                <%- include('partials/listaPublicaProjetos', { projetos: projetos }) %>
            </section>




        </main>

        <%- include('partials/footer') %>





</body>

</html>